# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec
*.manifest

# Testy / pokrycie
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pliki testowe konwersji
/tmp_*
*.out.json
*.out.yml
*.out.xml
